.card {
    position: relative;
    width: 175px;
}

.card-status-signifier {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: $background-colour;
    padding:4px;
    border-radius: 5px;
}

.card-image-container {
    border-radius: 10px;
    overflow: hidden;
    max-height: 400px;
}

.card-image {
    max-width: 1000%!important;
    max-height: 100%;
}

.card-star {
    color: $red;
}

.card-rating {
}

.card-excerpt {
}

.card-price {
}