.hero {
    padding: 0 25px 0 25px;
    display: flex;
    flex-direction: column;
}

.hero-image {
    max-width: 100%;
}

.hero-header {
    margin-bottom: 16px;
}

.hero-paragraph {
    margin-top: 0px;
}