.nav {
    background-color:#FDFDFD;
    position: sticky;
    z-index: 999;
    top: -10px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.nav-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: -1;
    color: #FF5A5F;
    padding:15px;
}

.nav-brandname {
    margin-left: 5px;
    font-size: 16px;
}