.controls-get-new-button {
    @include gradient-background;
    @include bright-font;
}

.controls-text-container {
    display: flex;
    gap:15px;
}

@mixin round-wide-input {
    border-radius: 5px;
    padding:12px;
    width: 100%;
}

.controls-text {
    @include round-wide-input;
    margin-bottom: 15px;
    border: 1px solid $light-gray;
}

.controls-get-new-button {
    @include round-wide-input;
    border-width: 0px;
}

.image-container {
    position:relative;
}

@mixin meme-text {
    position:absolute;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 3.5rem;
    font-weight:700;
    color: $meme-text-colour;
    -webkit-text-stroke: 2px black; /* width and color */
}

.top-text {
    @include meme-text;
    top:10%;
}

.bottom-text {
    @include meme-text;
    bottom:10%;
}

.memage {
    margin-top: 15px;
    max-width:100%;
    border-radius: 5px;
}