$header-colour: #8000A0;
$bright-font-colour: #FEFEFE;
$light-gray: #DDDDDD;

@import "mixins";
@import "meme";
@import "header";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.main {
    padding: 20px;
}