$favorite-color: #DDDD33;

body {
    background-color: #DDDDDD;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
}

.contact {
    width: 200px;
    background-color: #F8F8F8;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 0 5px 3px #AAAAAA;
}

.contact-name {
    margin-bottom:0px;
}

.contact-icon {
    margin-right:5px;
}

.contact-img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius:5px;
}

.contact-favorite-icon {
    color:$favorite-color;
}

.favorite-contact {
    order:1;
}

.non-favorite-contact {
    order:2;
}
